<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link type="text/css" rel="stylesheet" href="http://pharkmillups.github.com/i-use-riak/css/site.css">
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <title>Riak Users in Their Own Words</title>
    <meta content="Basho Riak" name="description"/>
    <meta content="Basho, Riak, Web Database, fault tolerance, efficient scaling, open source, " name="keywords"/>
</head>
<body>
	<div id ="container">	
				<div id = "header">
					<img src="http://pharkmillups.github.com/i-use-riak/images/basho-portrait.png">
					<ul id ="top">
						<li><strong><a href="http://wiki.basho.com">Riak Wiki</a></strong></li>
						<li><strong><a href="http://basho.com">Basho.com</a></strong></li>
						<li><strong><a href="http://downloads.basho.com/riak/CURRENT/">Download Riak</a></strong></li>						
					</ul>	
				</div>
				<div id= "field">
					<p><a href="http://pharkmillups.github.com/i-use-riak">&lt;&lt;&lt;Home</a></p>		
				</div>	
				<div id ="user_content">						
					
				{{ content }}
				
				</div>
				
		<div id ="footer">
			<h1>Powered by GitHub Pages. Built by the Riak Community.</h1>
		</div>
	</div>
</body>	
				
				
